.navigation__image {
  background-color: var(--blac-section);
  background-image: url('../images/Img\ \(8\).jpg');
  box-shadow: 0px 4px 4px rgba(0, 0, 0);
  background-size:cover;
  width: 100%;
  aspect-ratio: 2.666;
  max-width: 1600px;
  margin: 0 auto;
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  background-color: var(--blac-section);
  color: var(--white);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

@media (min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
  .navigation__image {
    background-image: url("/images/tablet.jpg");
  }
}
@media (min-device-pixel-ratio:3),
(min-resolution: 268dpi),
(min-resolution: 3dppx){
  .navigation__image {
    background-image: url("/images/Header.jpg");
  }
}
 

  .navigation__text {
    font-family: roboto;
    font-weight: 900;

    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
   @media screen and (max-width: 1200px) {
      font-size: 26px;
      line-height: 42px;
    }
  }
  .navigation__button {
    font-family: roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--white);
    background-color: var(--blue);
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-top: 430px;
    border-left: 700px;
    border-radius: 4px;
    
  }

}